.searchpanel {
  text-align: center;
  align-items: center;
}
.heading {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  color: rgba(2, 74, 119, 0.989);
}
.title {
  text-align: center;
  font-style: italic;
  font-size: 40px;
  color: rgb(1, 26, 75);
}
.button-list {
  text-align: center;
  margin: 50px 0;
}
img {
  width: 200px;
  height: 200px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
input {
  border: 5px solid rgba(80, 144, 218, 0.895);
  width: 300px;
  min-height: 40px;
  font-family: sans-serif;
  font-size: 20px;
}
.button,
.buttons {
  border: 5px solid rgba(80, 144, 218, 0.895);
  width: 175px;
  height: 50px;
  background-color: rgba(80, 144, 218, 0.895);
  font-size: 20px;
  font-weight: bold;
}
.button:hover {
  border: 5px solid rgba(80, 144, 218, 0.895);
  width: 175px;
  height: 50px;
  background-color: rgba(80, 144, 218, 0.895);
  font-size: 20px;
  font-weight: bold;
}
